[{:st.authz.policy/documentation "The Default Deny Policy"
  :st.authz.policy/permit?       false
  :st.authz.policy/effectivity   -1000
  :st.authz.policy/principal     :st.authz.principal/*
  :st.authz.policy/action        [:st.authz.action/*]
  :st.authz.policy/resource      :st.authz.resource/*}

 {:st.authz.policy/documentation "Superuser Policy"
  :st.authz.policy/permit?       true
  :st.authz.policy/effectivity   1000
  :st.authz.policy/principal     :st.authz.principal/Superuser
  :st.authz.policy/action        [:st.authz/*]
  :st.authz.policy/resource      :st.authz.resource/*}]
