[{:liminal.policy/documentation "The Default Deny Policy"
  :liminal.policy/permit?       false
  :liminal.policy/effectivity   -1000
  :liminal.policy/principal     :liminal.principal/*
  :liminal.policy/action        [:liminal.action/*]
  :liminal.policy/resource      :liminal.resource/*}

 {:liminal.policy/documentation "Superuser Policy"
  :liminal.policy/permit?       true
  :liminal.policy/effectivity   1000
  :liminal.policy/principal     :liminal.principal/Superuser
  :liminal.policy/action        [:liminal/*]
  :liminal.policy/resource      :liminal.resource/*}]
