[{:db/id    "Anonymous"
  :db/ident :st.authz.principal/Anonymous}
 {:db/id    "Superuser"
  :db/ident :st.authz.principal/Superuser}
 {:db/id "Wildcard Principal"
  :db/ident :st.authz.principal/*}
 {:db/id "Wildcard Resource"
  :db/ident :st.authz.resource/*}]
