[{:db/id "Wildcard Principal"
  :db/ident :liminal.principal/*}
 {:db/id "Wildcard Resource"
  :db/ident :liminal.resource/*}

 {:liminal.policy/documentation "The Default Deny Policy"
  :liminal.policy/permit?       false
  :liminal.policy/effectivity   -1000
  :liminal.policy/principal     "Wildcard Principal"
  :liminal.policy/action        [:liminal.action/*]
  :liminal.policy/resource      "Wildcard Resource"}]
